In [ ]:
##Variable
##Interger Data Type    
a=12 #--> Variable 'a' is assigned the integer value 12
print(a) #--> priny is used to print the value on the screen
#typeof(a) #--> to check the data type of the variable
print(type(a))

##Float Data Type
b=3.01 #--> Variable 'b' is assigned the float value 3.01

12
<class 'int'>

In [10]:
#Id() function is used to get the address of the varaible in the memory
print(id(a))
d=12
print(id(d)) #--> both 'a' and 'd' will have same address as both are assigned same value 12
b=23.45
print(id(b))

140732795696392
140732795696392
2533843216976

In [ ]:
#Comments in Python


#Single line comment in Python starts with '#'      
#This is a single line comment

#multi-line comment in Python can be created using triple quotes (''' or """)
'''Hi this is a multi-line comment in Python'''

# Variables
To store something in programming language we use varaiable

In [ ]:
a=12
#12 will get stored into ram and a will hold the address of that location in ram

In [11]:
a # this will print only because in jupyter notebook the last line's value is automatically printed

12

In [12]:
print(a) # it is a function that shows the value of varable

12

In [ ]:
print(12)# this is not stored in ram it is directly printed on the screen

# Comments and Multiline Comment

In [ ]:
# Comments start with hash sysmbol --> # This is a single line comment

# Multi-line comments can be created using triple quotes
'''This is a multi-line comment
in Python programming language'''

# Address of variable

In [16]:
b=123
print(id(b))

140732795699944

# Data Types

In [17]:
b=10
print(id(b))
type(b)

140732795696328

int

In [ ]:
b=3.01 #--> Variable 'b' is assigned the float value 3.01
print(b)
type(b)

3.01

In [19]:
c="Hello, World!" #--> Variable 'c' is assigned the string value "Hello, World!"
print(c)
type(c)

Hello, World!

str

# Naming Convention

- Vaiable name can only contain letters digit and underscore

- bmi,person, Person_1

- It should not start with digit, but it can end with it

- Varaible are case case sensitive

- avoid usig python keyword (print, id , type
)
- Not Accepted --> person#1

# Flow of python

- In python, execution happens from top to bottom and right to left

- In case of paranthesis from inner brackets to outer

In [20]:
#Understand flow of execution
mentor_name='John Doe' #--> Variable 'mentor_name' is assigned the string value 'John Doe'
print(mentor_name)
value_1=100
print(500)
value_2=200
print(value_1 , value_2)

John Doe
500
100 200

# Few more data types

In [21]:
#Boolean or bool, it only stores true or false
is_student=False
is_employed=True

# Type casting
- If we have int and we have to make it float we use type casting

- Type casting is mainly used to change the data type of an varaible

In [25]:
a=1
print(type(a))

<class 'int'>

In [26]:
float(a)

1.0

In [ ]:
print(a) # her it will print only 1 and not 1.0 because we did not updated the value of a

In [27]:
# now we update tehvalue of a
a=float(a)
print(a) # now it will print 1.0

1.0

In [29]:
#Covertng float into string
str_a=str(a)
type(str_a)

str

In [ ]:
#Converting float into integer -->here we will have data loss as decimal part will be removed   
pi=3.14
int_pi=int(pi)
print(int_pi)
type(int_pi)

3

int

In [31]:
#bool to integer
bool_value=True
int_bool=int(bool_value)    
print(int_bool)
type(int_bool)

1

int

# Operators
- Arithmatic Operator
- Relational Operator
- Assignmnet Operator
- Logical Operator
- Bitwise Operator

In [ ]:
# arithmetic operators

In [ ]:
2+3

In [ ]:
a = 2
b = 2
c = a + b

In [ ]:
a = 2
c = a + 2
print(c)

In [ ]:
2 + "data science"

In [ ]:
 2 * " data science" ## Multiplecation of string

In [ ]:
# ignore the code
for i in range(1,20):
    print(i)
    if i == 10:
        print("="*10)

In [ ]:
# modulos operator

11 % 2

In [ ]:
11 / 2 # division

In [ ]:
11 // 2 # floor division--Floor division is a type of division that divides two numbers and then rounds the result DOWN to the nearest whole number.